<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add list for user</title>
</head>

<body>
    <h1>Add lists for users:</h1>
    <table>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <tr>
                <td><button type="submit">assign</button></td>
            </tr>
        </form>
    </table>
</body>

</html>