<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
</head>

<body>
  {% if message %}
    <h1>{{message}}</h1>
  {% endif %}
  <h1>Login:</h1>
  <table>
    <form action="" method="post">
      {% csrf_token %}
      Username:
      <input type="text" name="username">
      Password:
      <input type="password" name="password">
      <tr>
        <td><button type="submit">submit</button></td>
      </tr>
    </form>
  </table>
  <hr>
  <h3>Register a new user:</h3>
  <form action="sign_in/" method="post"> {% csrf_token %}
    <button type="submit">Sign in</button>
  </form>
</body>
</html>